@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.type--B {
  --line_color: #1b1919;
  --back_color: #e9ecff;
}
.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}
.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}
.button:hover {
  letter-spacing: 6px;
}
.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}
.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}
.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}
.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

.container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button:not(:last-child) {
  margin-bottom: 64px;
}

.header {
  background-color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 350px;
  height: 100px;
}
.card-schema {
  width: 608px;
  height: 566px;
}
.login-invitation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px;
}
.sign-up-trap p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.sign-up-trap h1 {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}
.sign-up-trap span {
  font-family: "Arial", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  animation: colorChange 5s ease-in-out infinite;
}

@keyframes colorChange {
  0% {
    color: #6a5acd;
  }
  50% {
    color: #9932cc;
  }
  100% {
    color: #4682b4;
  }
}
.our-joiners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px;
}
.our-joiners p {
  font-size: 20px;
  font-family: "Charlie Text", sans-serif;
}
.footer {
  margin-top: 80px;
  background-color: #ffffff;
  color: #000000;
  padding: 40px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.footer-section {
  max-width: 300px;
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 16px;
  line-height: 1.5;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #9932cc;
}

.social-icons a {
  color: #f4f4f4;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #4682b4;
}

.footer-bottom {
  background-color: #e6e6fa76;
  padding: 10px 0;
}

.road-to-login-page {
  text-decoration: none;
  color: #000000;
}
.login-illustration {
  background-color: white;
}
.create-button {
  display: flex;
  align-items: center;
  background-color: #4c89af;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.create-button .icon {
  font-size: 18px;
  margin-right: 5px;
}

.create-button:hover {
  transition: 1s;
  background-color: #5c65b8;
}
.profileHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #b2b2b22d;
}
.error-message {
  color: red;
  font-weight: bold;
  margin: 10px 0;
}

.card-list {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.card-item {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f7f7f7;
}

.list-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.list-item {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #e9f5ff;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
}

p {
  font-size: 16px;
  margin: 5px 0;
}

.dropdown {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

.create-list {
  margin: 20px;
}

.after-header {
  margin: 20px;
}

.container-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f5f7;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.board-title {
  color: #2d3748;
}

.lists-header {
  color: #4a5568;
}

.error {
  color: #e53e3e;
}

.success {
  color: #38a169;
}

.list-form {
  display: flex;
  margin-bottom: 20px;
}

.list-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
}

.list-input:focus {
  border-color: #63b3ed;
  outline: none;
}

.add-list-button {
  padding: 10px 15px;
  background-color: #3182ce;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.add-list-button:hover {
  background-color: #2b6cb0;
}

.lists-container {
  list-style: none;
  padding: 0;
}

.list-item {
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  transition: box-shadow 0.2s;
}

.list-item:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.no-lists {
  color: #a0aec0;
}
.icons-for-signup-in {
  width: 289px;
  height: 280px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  background-color: #f4f5f7;
  padding: 20px;
  flex-direction: column;
  position: relative;
}

.icons-for-signup-in {
  position: absolute;
  width: 450px;
  height: auto;
}

.left-icon {
  bottom: 20px;
  left: 20px;
}

.right-icon {
  bottom: 20px;
  right: 20px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 94.5%;
  gap: 20px;
}

.login-input {
  padding: 10px;
  border: 1px solid #dfe1e6;
  border-radius: 4px;
  font-size: 16px;
}

.login-input:focus {
  outline: none;
  border-color: #0052cc;
  box-shadow: 0 0 0 2px rgba(0, 82, 204, 0.2);
}

.login-button {
  padding: 10px;
  background-color: #0052cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.login-button:hover {
  background-color: #0041a8;
}

.login-text {
  font-size: 14px;
  color: #5e6c84;
  margin-top: 20px;
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 10px;
}
.google-icon {
  width: 2vw;
}

.google {
  padding: 4px 43px;
  border: 1px solid rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.ms-icon {
  width: 1.2vw;
}

.microsoft {
  padding: 8px 40px;
  border: 1px solid rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  border-radius: 4px;
}

.apple-icon {
  width: 2vw;
}

.apple {
  padding: 5px 45px;
  border: 1px solid rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  border-radius: 4px;
}

.sign-up-with {
  cursor: pointer;
  margin-top: 5px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.continue-with {
  color: #00000087;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 0;
}
.logo-w-out-writing {
  width: 300px;
  margin-bottom: 10px;
}
.register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 20px;
}
.link-to-each-page {
  text-decoration: none;
} 

.container-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.board-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.success {
  color: green;
  text-align: center;
  margin-bottom: 10px;
}

.list-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.list-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%;
  margin-right: 10px;
}

.add-list-button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-list-button:hover {
  background-color: #45a049;
}

.lists-header {
  font-size: 1.5rem;
  margin: 20px 0 10px;
}

.lists-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.list-item {
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}

.list-item:hover {
  transform: scale(1.05);
}

.no-lists {
  text-align: center;
  color: #999;
  font-size: 1.2rem;
}
.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f7f9fc;
  border-bottom: 2px solid #e0e0e0;
}

.profile-picture {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 15px;
}

.create-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown {
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
}

.board-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:50px;
  list-style-type: none;
  padding: 0;
}

.board-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
}

.no-boards {
  color: #999;
  font-style: italic;
}

.error {
  color: red;
  margin-top: 10px;
}
.whole-boards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}