@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.type--B {
  --line_color: #1b1919;
  --back_color: #e9ecff;
}
.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}
.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}
.button:hover {
  letter-spacing: 6px;
}
.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}
.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}
.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}
.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

.container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button:not(:last-child) {
  margin-bottom: 64px;
}

.header {
  background-color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 350px;
  height: 100px;
}
.card-schema {
  width: 608px;
  height: 566px;
}
.login-invitation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px;
}
.sign-up-trap p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.sign-up-trap h1 {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}
.sign-up-trap span {
  font-family: "Arial", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  animation: colorChange 5s ease-in-out infinite;
}

@keyframes colorChange {
  0% {
    color: #6a5acd;
  }
  50% {
    color: #9932cc;
  }
  100% {
    color: #4682b4;
  }
}
.our-joiners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px;
}
.our-joiners p {
  font-size: 20px;
  font-family: "Charlie Text", sans-serif;
}
.footer {
  margin-top: 80px;
  background-color: #ffffff;
  color: #000000;
  padding: 40px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.footer-section {
  max-width: 300px;
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 16px;
  line-height: 1.5;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #9932cc;
}

.social-icons a {
  color: #f4f4f4;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #4682b4;
}

.footer-bottom {
  background-color: #e6e6fa76;
  padding: 10px 0;
}

.road-to-login-page {
  text-decoration: none;
  color: #000000;
}
.login-illustration {
  background-color: white;
}
.create-button {
  display: flex;
  align-items: center;
  background-color: #5c65b8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.create-button .icon {
  font-size: 18px;
  margin-right: 5px;
}

.create-button:hover {
  transition: 1s;
  background-color: #5c65b8;
}

.error-message {
  color: red;
  font-weight: bold;
  margin: 10px 0;
}

.card-list {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.card-item {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f7f7f7;
}

.list-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
}

p {
  font-size: 16px;
  margin: 5px 0;
}

.dropdown {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

.create-list {
  margin: 20px;
}

.after-header {
  margin: 20px;
}

.lists-header {
  color: #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.error {
  color: #e53e3e;
}

.success {
  color: #38a169;
}



.no-lists {
  color: #a0aec0;
}
.icons-for-signup-in {
  width: 289px;
  height: 280px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  background-color: #f4f5f7;
  padding: 20px;
  flex-direction: column;
  position: relative;
}

.icons-for-signup-in {
  position: absolute;
  width: 450px;
  height: auto;
}

.left-icon {
  bottom: 20px;
  left: 20px;
}

.right-icon {
  bottom: 20px;
  right: 20px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 94.5%;
  gap: 20px;
}

.login-input {
  padding: 10px;
  border: 1px solid #dfe1e6;
  border-radius: 4px;
  font-size: 16px;
}

.login-input:focus {
  outline: none;
  border-color: #0052cc;
  box-shadow: 0 0 0 2px rgba(0, 82, 204, 0.2);
}

.login-button {
  padding: 10px;
  background-color: #0052cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.login-button:hover {
  background-color: #0041a8;
}

.login-text {
  font-size: 14px;
  color: #5e6c84;
  margin-top: 20px;
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 10px;
}
.google-icon {
  width: 2vw;
}

.google {
  padding: 4px 43px;
  border: 1px solid rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.ms-icon {
  width: 1.2vw;
}

.microsoft {
  padding: 8px 40px;
  border: 1px solid rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  border-radius: 4px;
}

.apple-icon {
  width: 2vw;
}

.apple {
  padding: 5px 45px;
  border: 1px solid rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  border-radius: 4px;
}

.sign-up-with {
  cursor: pointer;
  margin-top: 5px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.continue-with {
  color: #00000087;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 0;
}
.logo-w-out-writing {
  width: 300px;
  margin-bottom: 10px;
}
.register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 20px;
}
.link-to-each-page {
  text-decoration: none;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.success {
  color: green;
  text-align: center;
  margin-bottom: 10px;
}

.lists-header {
  font-size: 1.5rem;
  margin: 20px 0 10px;
}

.lists-container {
  list-style-type: none;
}

.no-lists {
  text-align: center;
  color: #999;
  font-size: 1.2rem;
}
.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #f7f9fc;
  border-radius: 0px 0px 15px 15px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b499ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 15px;
}

.dropdown {
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
}

.no-boards {
  color: #999;
  font-style: italic;
}

.error {
  color: red;
  margin-top: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #f4f0ff;
  border-radius: 20px;
  padding: 5px 10px;
  width: 300px;
}

.input-search {
  border: none;
  outline: none;
  background: none;
  flex-grow: 1;
  padding: 8px;
  font-size: 14px;
  color: #333;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #6e57e0;
  padding: 5px;
}
.search-btn:hover {
  background: none;
}
.pre-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}
.profile-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-details h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
}
.hello-icon {
  width: 350px;
  height: 300px;
}
.welcome-container {
  padding: 10px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  border-radius: 50px;
  background-color: #a090f51e;
}
.main-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-container h1 {
  font-size: 26px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.welcome-container h4 {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.view-all-btn {
  background: none;
  color: #3c22a5;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.view-all-btn:hover {
  background: none;
}
.username-span {
  color: #3c22a5;
}

.whole-boards {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.board-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.board-item {
  background-color: #a090f51e;
  padding: 20px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.board-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.board-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.board-item p {
  font-size: 14px;
  color: #666;
}

.board-item button {
  padding: 20px;
  background: none;
  color: #6e57e0a3;
  cursor: pointer;
}

.board-item button:hover {
  background-color: rgba(204, 204, 204, 0.314);
  border-radius: 50%;
}
.board-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}
.card-icon {
  background-color: #705cdf5e;
  padding: 5px;
  border-radius: 5px;
}
.dotted-create-board {
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 180px;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s;
  background-color: #f7f7f7;
}

.dotted-create-board:hover {
  border-color: #999;
}

.dotted-create-board .icon {
  font-size: 24px;
  color: #666;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 60px;
}

.close-modal-btn {
  margin-top: 10px;
  color: black;
  border: none;
  background: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.close-modal-btn:hover {
  background: none;
}
.modal-content input {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  border: 0.5px black solid;
}
.create-board-btn {
  border-radius: 30px;
  background-color: #6e57e0a3;
}
.modal-content h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.bttns {
  content: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons-for-ved {
  display: flex;
  gap: 2px;
}
.left-bar {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 0px 20px 20px 0px;
  background-color: #a190f54b;
  gap: 60px;
  height: 100%;
  width: 13vw;
}
.main-lists {
  display: flex;
  height: 96vh;
}
.left-bar h1 {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin: 0;
}
.boards-option {
  color: rgb(0, 0, 0);
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.profile-details-list {
  display: flex;
  align-items: center;
}
.to-boards {
  text-decoration: none;
  color: #000000;
}
.boards-listed {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  gap: 0px;
}
.boards-listed p {
  margin: 0;
  font-size: 25px;
  font-family: sans-serif;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.boards-li {
  font-size: 18px;
  font-family: sans-serif;
  list-style: none;
  color: black;
  padding: 0;
}
.boards-listed ul {
  padding: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.view-more-button {
  background: none;
  color: #000000;
}
.view-more-button:hover {
  background: none;
}
.lists-container{
  background-color: #0000002f;
  border-radius:15px;
  padding: 20px;
}.card-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.card-input {
  padding: 8px;
  margin-bottom: 5px;
}

.add-card-button {
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.card-list {
  list-style-type: none;
  padding: 0;
}

.card-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.card-description {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
